*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background: #000;
    color:white;
}
#header{
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(to bottom,rgba(0,255,255,0.30),rgb(0, 0, 0,1)), url(testback.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
    opacity: 0.4;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    scroll-behavior: smooth;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 4px;
    background: linear-gradient(to right,rgba(255,255,255,0.45),rgb(128, 238, 232));
    left: 0;
    bottom: -5px;
    position: absolute;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.hello-text{
    margin-top: 25%;
    font-size: 30px;
}

.hello-text h1{
    font-size: 80px;
    margin-top: 10px;
}

/* about me */

#about{
    padding: 70px 0;
    color: white;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left_aboutme{
    flex-basis: 40%;
}

.aboutme_photo{
    width: 90%;
    border-radius: 20px;
}

.right_aboutme{
    flex-basis: 55%;
}

.right_aboutme h1{
    font-size: 60px;
    font-style: italic;
}

.right_aboutme p{
    margin-top: 5%;
    font-size: 20px;
    text-align: justify;
    color: rgb(223, 255, 255);
}

.abtme_extra{
    display: flex;
    margin: 25px 0 30px;
}

.abtme_bars{
    font-size: 20px;
    font-weight: 520;
    cursor: pointer;
    margin-right: 100px;
    font-style: italic;
    position: relative;

}
.abtme_bars::after{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    background: linear-gradient(to right,rgba(255,255,255,0.45),rgb(128, 238, 232));
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.abtme_bars.on::after{
    width: 80%;
}

.abtme_info{
    display: none;
}

.abtme_info ul li{
    list-style: none;
    margin: 10px 10px;
    line-height: 1.3;
}

.abtme_info ul li span{
    font-size: 20px;
    color: rgb(69, 177, 177);
}

.abtme_info.on{
    display:block;
}

/* contact me */

#contact{
    margin-top: 10%;
}

.contact_left{
    flex-basis: 35%;
}

.contact_left h1{
    font-style: italic;
    font-size: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10%;
}
.contact_left p{
    font-size: 22px;
    margin-top: 35px;
    color: #caefff;
}
.contact_left p i{
    font-size: 30px;
    margin-right: 15px;
    color: #4ca2c7;
}

.social_media{
    margin-top: 25px;
}

.social_media a{
    text-decoration: none;
    font-size: 40px;
    margin-right: 55px;
    margin-top: 25px;
    display: inline-block;
    color: rgb(81, 175, 212);
    transition: 0.5s;
}


.social_media a:hover{
    color: rgb(79, 185, 141);
    transform: translateY(-4px);
}

.firstButton {
    background-color: #3795a1;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 23px 80px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15%;
    display: block;
}
  
.firstButton:hover {
background-color: #2fc0d7;
color: #ffffff;
}

.contact_right{
    flex-basis: 60%;
    margin-top: 115px;
}

.contact_right p{
    font-size: 25px;
    color: #caefff;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    font-weight: 400;
    background:linear-gradient(to bottom,rgba(0,0,0,0.45),rgb(128, 238, 232,0.4));
    margin-top: 150px;
}

@media only screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    #header {
      height: 100vh;
    }

    nav{
        position:relative;
    }
    .hello-text {
      margin-top: 10%;
      font-size: 20px;
    }
    .row{
        display:block;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .right_aboutme {
      flex-basis: 40%;
    }
  }